.event_detail_container {
  padding-top: 120px
}

.detail_right_sidebar {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
  position: fixed;
  top: 65px;
  right: 0;
  bottom: 0px;
  z-index: 100;
  background: #fff;
  left: auto;
  display: block;
  width: 380px;
  overflow-y: auto;
}

.seperator {
  margin-top: 20px;
  border-bottom: 1px solid #ddd;
}

.detail-rsvp {
  text-align: center
}

.chat-container {
  margin-top: 30px;
  padding-right: 10px;
}

.current-chat-area {
  max-width: 380px;
  padding-top: 10px;
  height: 10vh;
}

.current-chat-footer {
  position: fixed;
  bottom: 0;
  max-width: 380px;
}

.pup-avatar {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
}

.media-list {
  padding-bottom: 20px;
}

.emoji-toggle {
  border: 1px solid lightgrey;
  height: 34px;
}

.flex-container {
  display: flex;
}

.flex-item {
  flex: 1
}

a.pup-link {
  color: #555;
  text-decoration: none;
  zoom: 1;
}

.detail-title {
  display: flex;
}

.img-circle {
  height: 50px; 
}

@media(max-width: 320px){
  .event_detail_container {
    position: static;
    height: 500px;
    width: 100%;
  }
}

@media(max-width: 320px){
  .detail_right_sidebar {
    position: static;
    height: 500px;
    width: 100%;
  }
}

.pac-container {
    z-index: 10000 !important;
}

.regular {
  color: $accent-color;
}

.rsvped {
  color: #53575e;
  background-color: #9FE1E7;
  border: 1px solid #0BBCB2;
}