.featured-date {
  font-size: 2.5rem;
  color: black;
}

.featured-time {
  display: block;
  font-size: 2rem;
  color: black;
}

.featured-location {
  display: block;
  font-size: 2rem;
  color: black;
}

.featured-body {
  margin: 8px 0;
  text-align: center;
  color: black;
}

.featured-heading {
  color: black;
  font-weight: 400;
}

.featured-title {
  color: black;
  font-size: 2em;
  font-family: 'Assistant', sans-serif;
  font-weight: 400;
}

.featured-img {
  width: 45%;
  height: 45%;
}

.featured-map {
  width: 85%;
  height: 85%;
}

a.error-link {
  color: white;
  font-weight: 400;
  text-decoration: none;
}

.error-btn {
  border-radius: 25px;
}

.oops{
  font-size: 150px;
}

.btn {
  border: 0px solid transparent;
}

.btn-outline {
  border: 2px solid #e0e0e0;
  color: white;
  font-weight: 300;
  padding: 15px 25px;
  &:hover {
    color: white;      
  }
  &:active {
    color: white;      
  }
  &:focus {
    color: white;  
  }
}

.btn-find {
  background: #E77078;
  border: 2px solid transparent;
  font-weight: 300;  
  padding: 15px 25px;
}

.btn-find:hover {
  background: #bc565d;
  border: 2px solid #bc565d;
}

.container {
  width: auto;
  padding-left: 10em;
  padding-right: 10em;
}