.featured-date {
  font-size: 2.5rem;
  color: black;
}

.featured-time {
  display: block;
  font-size: 2rem;
  color: black;  
}

.featured-location {
  display: block;
  font-size: 2rem;
  color: black;  
}

.featured-body {
  margin: 8px 0;
  text-align: center;
  color: black;
}

.featured-heading {
  color: black;  
  font-weight: 400;
}

.featured-title {
  color: black; 
  font-size: 3em; 
  font-weight: 400;
}

.featured-img {
  width: 45%;
  height: 45%;
}

.featured-map {
  width: 85%;
  height: 85%;
}

.btn-primary {
  background-color: $accent-color;
}
