.mapcontainer {
  top: 25px;
  right: 380px;
  bottom: 0;
  position: fixed;
  left: 0;
}

@media (max-width: 320px) {
  .mapcontainer {
    position: static;
    height: 400px;
    width:100%;
  }
}

@media (max-width: 320px) {
  .sidebar {
    position: static;
    height: 500px;
    width: 100%;
  }
}