.right_sidebar {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
  position: fixed;
  top: 65px;
  right: 0;
  bottom: 0px;
  z-index: 100;
  background: #fff;
  left: auto;
  display: block;
  width: 380px;
  overflow-y: scroll;

}

.left_sidebar {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
  position: fixed;
  top: 65px;
  left: 0;
  bottom: 0px;
  z-index: 100;
  background: #fff;
  right: auto;
  display: block;
  width: 380px;
  overflow-y: scroll;
}

.owner-avatar {
  border-radius: 100px;
  margin-top: 30px;
}

.pup-pic{
  border-radius: 100px;
  margin-top: 40px;
}

.puppy-box {
  text-align: center;
}

.pup-age {
  float: right;
}


.changeRed {
  color: red;
}

.edit-profile{
  display:none;
}

.back {
  display:none;
}

.quote {
  display:inline;
}

.fa quote fa-quote-left {
  display: flex
}

.owner-name {
  font-weight: 400;
}

.new-status {
  padding-top: 0;
}

.update-status-btn {
  float: right;
}

.owner-profile-col {
  padding: 0 50px;
}

@media (max-width: 320px) {
  .left_sidebar{
    position: static;
    height: 500px;
    width: 100%
  }
}

@media (max-width:320px) {
  .right_sidebar{
    position: static;
    height: 500px;
    width: 100%;
  }
}

@media (max-width:320px) {
  .owner-profile-col {
    position: static;
    height: 500px;
    width: 100%;
  }
}