.right_sidebar {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
  position: fixed;
  top: 70px;
  right: 0;
  bottom: 0px;
  z-index: 100;
  background: #fff;
  left: auto;
  display: block;
  width: 380px;
  overflow-y: scroll;
}

.left_sidebar {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
  position: fixed;
  top: 70px;
  left: 0;
  bottom: 0px;
  z-index: 100;
  background: #fff;
  right: auto;
  display: block;
  width: 380px;
  overflow-y: scroll;
}

.owner-avatar {
  border-radius: 100px;
  margin-top: 50px;

}

.pup-pic{
  border-radius: 100px;
  margin-top: 40px;
}

.puppy-box {
  text-align: center;
}

.pup-age {
  float: right;
}


.changeRed {
  color: red;
}

.edit-profile{
  display:none;
}

.back {
  display:none;
}

.quote {
  display:inline;
}