.pup-info {
  border: 1px solid lightgrey;
}

.statuses {
  padding-top: 20px;
}

@media (max-width: 320px) {
  .pup-info {
    position: static;
    height: 500px;
    width: 100%;
  }
}

.main-pup-pic {
  border-radius: 50%;
  margin-top: 40px;
  height: 100px;
  width: 100px;
}

.btn-file {
  position: relative;
  overflow: hidden;
  border: 1px solid lightgrey;
  padding: 0.45em;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

#img-upload {
  width: 50%;
}