.searchbar {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);
  position: fixed;
  z-index: 7;
  height: 80px;
  background: deeppink;
  border-radius: 4px;
  top: 90px;
  left: 50%;
  right: 0;
  margin-left: -691px;
  padding: 8px;
  max-width: 1000px;
}

.searchform {
  padding: 8px;
}

