.detailcontainer {
  height: 100%;
  background: #f7f7f7;
  padding: 20px 10px 50px;
}

.smalldetails-container {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
  border-radius: 4px;
  display: block;
  width: 100%;
  background-color: #fff;
  position: relative;
  margin-bottom: 8px;
  transition: all .1s ease;
}

.smalldetails-container:hover {
  transform: scale(1.01);
}

.smalldetails-header {
  border-radius: 4px 4px 0 0;
  display: flex;
  padding: 6px 12px;
  width: 100%;
  align-items: center;
  background: black;
  height: 2.5em;
}

.smalldetails-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  color: white;
  text-align: left;
  font-size: 1.8rem;
  flex: 1;
  font-weight: 400;
}

.smalldetails-body {
  margin: 8px 0;
  text-align: center;
}

.smalldetails-attendees {
  padding-left: 16px;
  color: #fff;
  font-size: 1.4rem;
  line-height: 1;
}

.smalldetails-date {
  font-size: 3rem;
}

.smalldetails-time {
  display: block;
  font-size: 1.6rem;
}

.smalldetails-location {
  display: block;
  font-size: 2.5rem;
}

.smalldetails-footer {
  border-radius: 0 0 4px 4px;
  display: flex;
  border-top: 1px solid #ddd;
  align-items: center;
  justify-content: space-between;
}

.smalldetails-rsvp {
  right: 0px;
  margin: 8px 18px 8px 0;
  flex: 1;
  text-align: center;
}

.smalldetails-calender {
  right: 0px;
  margin: 8px;
  flex: 1;
  text-align: center;
}

a.smalldetails-link {
  display: block;
  color: #555;
  text-decoration: none;
  cursor: pointer;
  zoom: 1;
}
