<div class="owner-card">
  <div class="owner-box">
      <a href="/owner/<%=item.id%>">
        <img class="owner-avatar" src="<%= item.avatar_url %>" >
        <h5 class="listContent"><%= item.name %></h5>
       </a> 
    </div>
</div>
