<div class="owner-card">
  <div class="owner-box">
      <a class="pup" href="/pet/<%=item.id%>">
        <img class="pup-avatar" src="<%= item.avatar_url %>" style="width:80px">
        <h5 class="listContent"><%= item.name %></h5>
      </a>
  </div>
</div>
