<div class="owner-card">
  <div class="owner-box">
      <img class="owner-avatar" src="<%= item.avatar_url %>" style="width:200px">
      <h2 class="listContent"><%= item.username %></h2>
    </div>
</div>
