
<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      <a class="navbar-brand" href="/">
<<<<<<< HEAD
      <font color="#d7a29e">P</font>
      <font color="#9aa099">u</font>
      <font color="##abc9bd">p</font>
      <font color="e8d8bf"><i class="fa fa-paw"></i></font>
      <font color="#9aa099">p</font>
      <font color="##abc9bd">a</font>
      <font color="#d7a29e">l</font>
      <font color="#9aa099">s</font>
=======
      <font color="#126B85">P</font>
      <font color="#AEDCD5">u</font>
      <font color="#AD3642">p</font>
      <font color="lightgrey"><i class="fa fa-paw"></i></font>
      <font color="#126B85">p</font>
      <font color="#AEDCD5">a</font>
      <font color="#AD3642">l</font>
      <font color="#126B85">s</font>
>>>>>>> 219b9ddc81356e9ab32ed9c62975b567bfc9eee4
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if(!user){%>
          <li><a href="/user/login">Login</a></li>
          <li><a href="/user/signup">Sign Up</a></li>
        <%}else{%>
          <li>
            <a href="/owner/<%=user.id%>">
              <img src="<%=user.avatar_url%>" style="width:20px; height:20px">
              <%=user.username%>
            </a>
          </li>
          <li><a href="/events/new">Create event</a></li>

          <li><a href="/user/logout">Log out</a></li>

        <%}%>
      </ul>

    </div>
  </div>
</nav>