<div class="owner-card">
  <div class="owner-box">
      <img class="owner-avatar" src="http://bryjensen.com/boffwiki/images/6/6e/Human.png">
      <h2 class="listContent">Emma Quon</h2>
      <p>Taking my pups to the park today!</p>
    </div>
</div>
