<div class="owner-card">
  <div class="owner-box">
      <img class="owner-avatar" src="<%= data.avatar_url %>" style="width:200px">
      <h2 class="listContent"><%= data.username %></h2>
      <h4><%= data.name %></h4>
      <p><%= data.status %></p>
    </div>
</div>
