<div class="puppy-card">
  <div class="puppy-box">
    <img src="https://s-media-cache-ak0.pinimg.com/236x/99/11/7b/99117b78d2f63f98145a5e1c1cb578db--golden-retriever-puppies-golden-retrievers.jpg">
    <h2>Charlie</h2>
    <p>Golden Retreiver</p>
    <p>Age: 3</p>
  </div>
</div>