<div class="puppy-card">
  <div class="puppy-box">
    <img src="<%= data[i].pups.avatar_url %>" style="width:200px">
    <h2><%= data[i].pups.name %></h2>
    <p><%= data[i].pups.breed %></p>
    <p><%= data[i].pups.age %> years old</p>
    <% if (data[i].pups.sex == 'male') {%>
      <p> Boy </p>
    <% } else  { %>
      <p> Girl </p>
    <% } %>
    <% if (data[i].pups.neutered == true) {%>
      <p> Neutered </p>
    <% } else  { %>
      <p> Not Neutered </p>
    <% } %>
  </div>
</div>