<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pup-Pals</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='/styles/css/fullcalendar.css' rel='stylesheet' />
    <script src='/styles/js/jquery-1.10.2.js'></script>
    <script src='/styles/js/jquery-ui.custom.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src='/styles/js/fullcalendar.js'></script>
    <link href="/styles/build/main.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="icon" href="/styles/pictures/dog-paw.png" type="image/png">
    <script src='/styles/js/calendar.js'></script>
    <style>
      body {
        margin-top: 90px;
        margin-bottom: 5px;
        text-align: center;
        font-size: 14px;
        font-family: "Helvetica Nueue",Arial,Verdana,sans-serif;
        background-color: #DDDDDD;
        }
        
      #wrap {
        width: 1100px;
        margin: 0 auto;
      }
        
      #external-events {
        float: left;
        width: 150px;
        padding: 0 10px;
        text-align: left;
      }
        
      #external-events h4 {
        font-size: 16px;
        margin-top: 0;
        padding-top: 1em;
      }
        
      .external-event { /* try to mimick the look of a real event */
        margin: 10px 0;
        padding: 2px 4px;
        background: #3366CC;
        color: #fff;
        font-size: .85em;
        cursor: pointer;
        }
        
      #external-events p {
        margin: 1.5em 0;
        font-size: 11px;
        color: #666;
      }
        
      #external-events p input {
        margin: 0;
        vertical-align: middle;
      }

      #calendar {
        margin: 0 auto;
        width: 900px;
        background-color: #FFFFFF;
        border-radius: 6px;
        box-shadow: 0 1px 2px #C3C3C3;
      }

    </style>
  </head>
  <body>
    <% include partials/_calendar_nav.ejs %>
    <div id='wrap'>
    <div id='calendar'></div>
    <div style='clear:both'></div>
    </div>
  </body>
</html>