<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Pup-Pals</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700' rel='stylesheet' type='text/css'>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/build/main.css">
</head>

<body>
  <!-- <% include partials/_navbar.ejs%> -->
    <div class="container">


      <div class="row">
        <a href='#' data-toggle="modal" data-target="#myModal">
  Launch demo modal
</a>

        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <legend><i class="fa fa-paw modal-header"></i> Create Event</legend>
                <i class="fa fa-paw" aria-hidden="true"></i>

                 <h4 class="fa fa-paw modal title">Create Event</h4>
              </div>
              <div class="modal-body">
                <form method="POST" action="/events/new" class="register-form" role="form">
                        <p>
                          <label for="title-input">Title</label>
                          <input class="input form-control" type="text" name="title">
                        </p>
                        <p>
                          <label for="event-input">Description</label>
                          <textarea name="message" id="message" class="form-control" rows="5" cols="25" required="required"></textarea>
                        </p>
                        <p>
                          <label for="restrictions-input">Restrictions</label>
                          <input class="input form-control" type="text" placeholder="eg. Only big dogs" name="restriction">
                        </p>
                        <p>
                          <label for="location-input">Location</label>
                          <input class="input form-control" type="text" name="location">
                        </p>
                        <p>
                          <label for="date-input">Date</label>
                          <input class="input form-control" type="date" name="date_time">
                        </p>
                        <p>
                          <label for="time-input">Time</label>
                          <input class="input form-control" type="time" name="date_time">
                        </p>
                        <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
                      </form>      </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>
        <% include partials/_footer.ejs %>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>

</html>
