<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700' rel='stylesheet' type='text/css'>
    <link href="/styles/build/main.css" rel="stylesheet">
  </head>
  <body>
    <script src="/socket.io/socket.io.js"></script>
   

    <% include partials/_navbar.ejs %>
    <div class="registerdiv">
      <h2>Event Title</h2>
      <h5>Location</h5>
      <h5>Date and Time</h5>
      <h6>Attending Owners</h6>
      <h6>Attending Pups</h6>
      <p>Status</p>
      <p>Lorem Ipsum is simply dummy text of the printing
        and typesetting industry. Lorem Ipsum has been the 
        industry's standard dummy text ever since the 1500s, 
        when an unknown printer took a galley of type and scrambled 
        it to make a type specimen book.
      </p>
      
      <div id="react-root">
    
      </div>
    </div>
    
    <% if (process.env.NODE_ENV === 'production') { %>
      <script src="/scripts/chat.js"></script>
    <% } else { %>
      <script src="http://localhost:10001/chat.js"></script>
    <% } %>
  </body>
</html>