<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700' rel='stylesheet' type='text/css'>
    <link href="/styles/build/main.css" rel="stylesheet">
  </head>
  <body>
    <script src="/socket.io/socket.io.js"></script>


    <% include partials/_navbar.ejs %>
    <div class="registerdiv">
      <p>A map here</p>
      <h1><%= events.title %></h1>
      <h3>Location: <%= events.location%></h3>
      <h3>Time: <%= events.date_time%></h3>
      <h3>Description: <%= events.description %></p>
      <h3>Pup-pals coming</h3>
      <% users.forEach((item) => {%>
        <% include partials/_event_goer.ejs %>
      <% })%>
      <h4>~~~~Some kind of cut-of line~~~~~</h4>
      <% pups.forEach((item) => {%>
        <% include partials/_event_pup.ejs %>
      <% })%>


      <div id="react-root">

      </div>
    </div>

    <% if (process.env.NODE_ENV === 'production') { %>
      <script src="/chatReact/chat.js"></script>
    <% } else { %>
      <script src="http://localhost:10001/chat.js"></script>
    <% } %>

  </body>
</html>