<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Pup-Pals</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
  <h1>It works</h1>
  <form action="/search" method="get">
    <p>
      <label for="search-query">Search</label>
      <input id="search-query" name="q">
    </p>
    <p>
      <button>Go</button>
    </p>
  </form>
</body>
</html>
