    <div class="logindiv">
      <h2>Log in</h2>
      <form method="POST" action= "/login" class="login-form">
         <span>
         <label for="email" class="label">Enter your email:</label>
         <input class="input email-input" type="email" name="email">
         </span>
         <span>
         <label for="password" class="label">Enter your password:</label>
         <input class="input password-input" type="password" name="password">
         </span>
        <button type="submit" class="formbtn">Submit</button>
      </form>
    </div>