<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700' rel='stylesheet' type='text/css'>

  <link href="/styles/build/main.css" rel="stylesheet">
</head>

<body>
  <% include partials/_navbar.ejs %>
  <div class="registerdiv">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <% for (var i = 0; i < pupsIDs.length; i++) { %>
            <% data[i].pups.name; %>
            <% const pup = data[i].pups; %>
            <% include partials/_puppy.ejs %>
          <% } %>
          <a href="/pet/new">Add New Pups</a>
        </div>
        <div class="col-md-6 text-center">
          <% const owner = data[0];%>
          <% include partials/_owner.ejs %>
        </div>
        <div class="col-md-3 text-right">
          <% if(data[0].events) { %>
            <% for (var i = 0; i < eventsIDs.length; i++)  { %>
              <%const event = data[i].events%>
              <% include partials/_event.ejs %>
            <% } %>
          <% } else { %>
            This user has not created any events yet.
          <% } %>
        </div>
      </div>
    </div>
  </div>

</body>

</html>