<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700' rel='stylesheet' type='text/css'>
  <!-- Bootstrap core CSS -->
  <link href="/styles/css/bootstrap.min.css" rel="stylesheet">
  <!-- Owl-carousel CSS -->
  <link href="/styles/css/owl.carousel.css" rel="stylesheet">
  <link href="/styles/css/owl.theme.css" rel="stylesheet">
  <link href="/styles/css/YTPlayer.css" rel="stylesheet" type="text/css" />
  <!--external css-->
  <link href="/styles/css/simple-line-icons.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <!-- Circliful CSS -->
  <link href="/styles/css/jquery.circliful.css" rel="stylesheet" />
  <!--popups css-->
  <link href="/styles/css/magnific-popup.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template -->
   <!-- <link href="/styles/css/style.css" rel="stylesheet">  -->
  <link href="/styles/css/homepage.css" rel="stylesheet">
  <link href="/styles/css/owner-profile.css" rel="stylesheet">

</head>

<body>
  <% include partials/_navbar.ejs %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <% include partials/_puppy.ejs %>
        </div>
        <div class="col-md-6 text-center">
          <% include partials/_owner.ejs %>
        </div>
        <div class="col-md-3 text-right">
          <% include partials/_event.ejs %>
        </div>
      </div>
    </div>


</body>

</html>