<!DOCTYPE html>
<html lang="en">

<head>
  <title>Pup-Pals</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap core CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700' rel='stylesheet' type='text/css'>

  <link href="/styles/build/main.css" rel="stylesheet">
</head>

<body>
  <% include partials/_navbar.ejs %>
  <div class="registerdiv">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <div class="left_sidebar">
            <% for (var i = 0; i < pupsIDs.length; i++) { %>
              <% const pup = data[i].pups; %>
              <% include partials/_puppy.ejs %>
            <% } %>
            <%if(user && user.id == profileId){%>
              <a href="/pet/new">Add New Pups</a>
            <%}%>
          </div>
        </div>
        <div class="col-md-6 text-center">
          <% const owner = data[0];%>
          <% include partials/_owner.ejs %>
        </div>
        <div class="col-md-3 text-center">
          <div class="profile_sidebar">
            <h3>Created events</h3>
              <% if(data[0].events) { %>
                <% for (var i = 0; i < eventsIDs.length; i++)  { %>
                  <%const event = data[i].events%>
                  <% include partials/_event.ejs %>
                <% } %>
              <% } else { %>
                This user has not created any events yet.
              <% } %>
            <h3>Attending events</h3>
              <% allEvents.forEach ((ev) => { %>
                <% include partials/_event_2.ejs %>
              <% }) %>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>