<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap core CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700' rel='stylesheet' type='text/css'>

  <link href="/styles/build/main.css" rel="stylesheet">
</head>

<body>
  <% include partials/_navbar.ejs %>
  <div class="registerdiv">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <% pups.forEach(function(item){ %>
            <% const pup = item; %>
            <% include partials/_puppy.ejs %>
          <% }) %>
          <%if(user && user.id == profileId){%>
            <a href="/pet/new">Add New Pups</a>
          <%}%>
        </div>
        <div class="col-md-6 text-center">
          <% const owner = person %>
          <%= person.name%>
          <% include partials/_owner.ejs %>
        </div>
        <div class="col-md-3 text-right">
          <h3> <%= person.username%> is going to these pup-parties </h3>
             <% events.forEach (function(ev){ %>
               <% include partials/_event_2.ejs %>
             <% }) %>
        </div>
      </div>
    </div>
  </div>

</body>

</html>