<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700' rel='stylesheet' type='text/css'>
  <link href="/styles/build/main.css" rel="stylesheet">
</head>

<body>
  <% include partials/_navbar.ejs %>
  <div class="registerdiv">
    <% include partials/_puppy.ejs %>
    <%pup.events.forEach((event) => {%>
      <% include partials/_event.ejs %>
    <%});%>
  </div>
</body>

</html>