<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= pup.name %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700' rel='stylesheet' type='text/css'>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
  <script src="/styles/js/pet-profile.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <link rel="icon" href="/styles/pictures/dog-paw.png" type="image/png">
  <link href="/styles/css/style.css" rel="stylesheet">
  <link href="/styles/build/main.css" rel="stylesheet">

</head>

<body>
  <% include partials/_navbar.ejs %>
  <div class="animationload">
    <div class="loader">&nbsp;</div>
  </div>
  <script>
    $(window).ready(function() {
        $('.animationload').hide();
    });
  </script>
  <script>var id =  <%- JSON.stringify(pup.id) %></script>
  <div class="registerdiv">
    <div class="container-fluid">
      <div class="row">
        <div class = "col-md-3 text-center">
          <div class="left_sidebar">
            <h3>My Owner</h3>
            <div class="seperator"></div>
          <%const owner = person%>
          <% include partials/_owner.ejs%>
          <hr>
          <style>
            .owner-avatar {width: 200px!important;}
          </style>

          </div>
        </div>
        <div class="col-md-6 text-center owner-profile-col">
          <button class="btn btn-primary edit btn">Update profile</button>
          <button class="btn btn-primary back btn">Back to profile</button>
          <div class="edit-profile">
            <% include partials/_edit_pet_profile.ejs %>
          </div>
          <% include partials/_puppy.ejs %>
          <% if (user && user.id == person.id) { %>
          <div class="seperator"></div>
          <section class="new-status">
            <h2>What has <%= pup.name %> been up to?</h2>
            <form class="status-form" method="POST" action= "/pet/<%= pup.id %>">
              <input class="form-control" type="file" id="file-input">
              <textarea class="form-control" name="text" placeholder="Ehhh What's up Doc?"></textarea>
              <br>
              <div class="update-pup">
              <input class="btn btn-primary" type="submit" value="Update">
              <div class="counter">140</div>
              </div>
            </form>
          </section>
          <% } %>
          <div class="seperator"></div>          
          <div class='statuses'> </div><br>
        </div>
        <div class="col-md-3 text-center">
          <div class="right_sidebar">
            <h3>Attending events </h3>
            <div class="seperator"></div>
            <% events.forEach((event) => { %>
              <% include partials/_event.ejs %>
            <% });%>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>