<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Pup-Pals</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700' rel='stylesheet' type='text/css'>
  <!-- Bootstrap core CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/styles/build/main.css">
</head>

<body>
  <% include partials/_navbar.ejs%>
    <div class="container">
      <div class="row">
        <div class="registerdiv">
          <div class="col-md-6 col-md-offset-3 well well-sm">
            <h2><i class="fa fa-paw" aria-hidden="true"></i> Sign Up</h2>
            <%if(error){%>
              <h4>
                <%= error%>
              </h4>
              <%}%>
                <form method="POST" action="/user/signup" class="form-group">
                  <p>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-address-book fa" aria-hidden="true"></i></span>
                      <input class="form-control" type="text" name="avatar_url" placeholder="Avatar URL">
                    </div>
                  </p>
                  <p>
                    <div class="input-group">  
                      <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>                                        
                      <input class="form-control" type="text" name="username" placeholder="Username">
                    </div>                    
                  </p>
                  <p>
                    <div class="input-group">  
                      <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>                                        
                      <input class="form-control" type="text" name="name" placeholder="Name">
                    </div>    
                  </p>
                  <p>
                    <div class="input-group">  
                      <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>                                        
                      <input class="form-control" type="text" name="email" placeholder="Email">
                    </div>  
                  </p>
                  <p>
                    <div class="input-group">  
                      <span class="input-group-addon"><i class="fa fa-lock fa" aria-hidden="true"></i></span>                                        
                      <input class="form-control" type="text" name="password" placeholder="Password">
                    </div>  
                  </p>
                  <button type="submit" class="btn btn-lg btn-primary btn-block">Sign Up</button>
                </form>
          </div>
        </div>
      </div>
    </div>
</body>

</html>