<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Pup-Pals</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700' rel='stylesheet' type='text/css'>
  <!-- Bootstrap core CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/styles/build/main.css">
</head>

<body>
  <% include partials/_navbar.ejs%>
    <div class="container">
      <div class="row">
        <div class="registerdiv">
          <div class="col-xs-12 col-sm-12 col-md-4 well well-sm">
            <h2>Sign Up</h2>
            <%if(error){%>
              <h4>
                <%= error%>
              </h4>
              <%}%>
                <form method="POST" action="/user/signup" class="register-form">
                  <p>
                    <label for="avatar-input">Enter a url for your avatar:</label>
                    <input class="input avatar-input" type="text" name="avatar_url">
                  </p>
                  <p>
                    <label for="username-input">Enter a username:</label>
                    <input class="input username-input" type="text" name="username">
                  </p>
                  <p>
                    <label for="name-input">Enter your name:</label>
                    <input class="input name-input" type="text" name="name">
                  </p>
                  <p>
                    <label for="email-input">Enter your email:</label>
                    <input class="input email-input" type="email" name="email">
                  </p>
                  <p>
                    <label for="password-input">Enter your password:</label>
                    <input class="input password-input" type="password" name="password">
                  </p>
                  <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
                </form>
          </div>
        </div>
      </div>
    </div>
</body>

</html>