<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Pup-Pals</title>
  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700" rel="stylesheet">
<!-- Bootstrap core CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="/styles/main.css" rel="stylesheet">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCq0Obk9dvvsHnE4vJit1vSuaNozXMMjBE&libraries=places"></script>
  <link rel="icon" href="/styles/pictures/dog-paw.png" type="image/png">
</head>

<body>
  <% include partials/_navbar.ejs%>
  <div id="react-root"></div>
  <script src="/socket.io/socket.io.js"></script>
    <script src="search.js"></script>
</body>


</html>